In [ ]:
!pwd

/content

In [ ]:
import pandas as pd
import numpy as np
import os
import glob

import matplotlib.pyplot as plt

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## D1NAMO_glucose

In [ ]:
def open_files(files):
    list_df=[]
    for filename in files:

        data_file = os.path.join(root, filename)


        dfs1 = pd.read_csv(data_file, sep=',', header=None, encoding='utf-8', 
                          names=final_columns)
        dfs1['date'] = dfs1.date
        dfs1['id'] = filename

        list_df.append(dfs1)


    dfs1 = pd.concat(list_df)
    dfs1 = dfs1.drop(dfs1[dfs1.date=='date'].index).reset_index(drop=True)
    del dfs1['comments']
    return dfs1

In [ ]:
root = '/content/drive/My Drive/Colab Notebooks/glucose/D1NAMO_glucose'

files = [f for f in os.listdir(root) if f.endswith(".csv")]

final_columns=['date', 'time', 'glucose', 'id','comments']

In [ ]:
dfs = open_files(files)

In [ ]:
dfs['glucose'] = dfs['glucose'].astype(float)*18.018
datetime = dfs.date + ' ' + dfs1.time

dfs['datetime'] = pd.to_datetime(datetime, format= '%Y/%m/%d %H:%M:%S', yearfirst=True)

In [ ]:
dfs.head()

         date      time  glucose              id            datetime
0  2014-10-01  09:00:00  97.2972  glucose_07.csv 2014-10-01 09:00:00
1  2014-10-01  11:49:59  68.4684  glucose_07.csv 2014-10-01 11:49:59
2  2014-10-01  11:54:59  72.0720  glucose_07.csv 2014-10-01 11:54:59
3  2014-10-01  11:59:59  75.6756  glucose_07.csv 2014-10-01 11:59:59
4  2014-10-01  12:00:00  97.2972  glucose_07.csv 2014-10-01 12:00:00

In [ ]:
#Guardar el csv completo. Nombre all.csv
#dfs.to_csv(r'/content/drive/My Drive/Colab Notebooks/glucose/small_patients.csv', sep = ',', header = True, index=False, encoding='utf-8')

In [ ]:
#Dividir el dataframe por valor de id y saber cuantos datos tiene
patients = []
for i in dfs['id'].unique():
  x = dfs[dfs['id'] == i]
  print("For patient %s the df has shape %s" %(i, x.shape))
  patients.append(x)

For patient glucose_07.csv the df has shape (1011, 5)
For patient glucose_06.csv the df has shape (1298, 5)
For patient glucose_05.csv the df has shape (928, 5)
For patient glucose_01.csv the df has shape (1438, 5)
For patient glucose_04.csv the df has shape (984, 5)
For patient glucose_08.csv the df has shape (1175, 5)
For patient glucose_02.csv the df has shape (1071, 5)
For patient glucose_03.csv the df has shape (185, 5)
For patient glucose_09.csv the df has shape (131, 5)

In [ ]:
len(patients)

9